<%- include('../partials/head.ejs') %>


 

<%- include('../partials/_navbar.ejs') %>
    <div class="con_t">
  <h1>Community</h1>
  <ul>
      <% users.forEach(user => { %>
      <li>
          <a href="/users/<%= user._id %>"><%= user.username %></a>
          <span class="label">--</span>
      </li>
      <% }); %>
  </ul>
  
</div>
<%- include('../partials/_footer.ejs') %>
 

  <%- include('../partials/end.ejs') %>

