<%- include('../partials/head.ejs') %>



<div class="container-box">
    <%- include('../partials/_navbar.ejs') %>
    <h1>my Storage
    </h1>
    <div class="card-container">
      <% if (Storage.length > 0) { %> <% Storage.forEach(function(car) { %>
      <div class="item-box-show">
        <div class="img-box">
  
          <img src="<%= car.image %>" alt="<%= car.name %>"  />
  
        </div>

        <div class="item-box-discription">
      
          <a href="/users/<%= user._id %>/cars/<%= car._id %>">

<div class="text">
  <p><span class="label">Car Name :</span> <span class="value"><%= car.name %></span></p>
  <p><span class="label">Car model:</span> <span class="value"><%= car.model %></span></p>
  <p><span class="label">Car Company:</span> <span class="value"><%= car.car_company %></span></p>
  <p><span class="label">Car Manufacturer:</span> <span class="value"><%= car.car_manufacturer %></span></p>
  <p><span class="label">Top Speed:</span> <span class="value"><%= car.top_speed %></span></p>
  <p><span class="label">Car Description:</span> <span class="value"><%= car.discription %></span></p>
</div>

            
  
        </div>
      </div>
      <% }) %> <% } else { %>
      <p>There are no items in this Storage.
  
      <% } %>
    </div>


  <%- include('../partials/_footer.ejs') %>
</div>
  <%- include('../partials/end.ejs') %>

