<%- include('../partials/head.ejs') %>

    <%- include('../partials/_navbar.ejs') %>
    
    <div class="container-box">
    <h1>dddd</h1></div>
    <%- include('../partials/_img_slider.ejs') %>


    <%- include('../partials/_footer.ejs') %>

    <%- include('../partials/end.ejs') %>
