<%- include('../partials/head.ejs') %> 
<div class="container-box">
  <%- include('../partials/_navbar.ejs') %>
  <h1>my Storage
  </h1>

  <div class="card-container">
    <% if (Storage.length > 0) { %> <% Storage.forEach(function(car) { %>
    <div class="item-box">
      <div class="img-box">

        <img src="<%= car.image %>" alt="<%= car.name %>"  />

      </div>
      <div class="item-box-discription">
        <a href="/users/<%= user._id %>/cars/<%= car._id %>"><%= car.name %></a>

      </div>
    </div>
    <% }) %> <% } else { %>
    <p>There are no items in this Storage.</p>

    <% } %>
  </div>
  <!--  -->
  <!--  -->
<div class="add_button">
  <button><a href="/users/<%= user._id %>/cars/new">Add a New Item</a></button>
  </div>
  <%- include('../partials/_footer.ejs') %> 
</div>
<%- include('../partials/end.ejs') %>