<%- include('../partials/head.ejs') %> <%- include('../partials/_navbar.ejs') %>
<div class="container-box">
  <h1>my Pantry
  </h1>

  <div class="card-container">
    <% if (pantry.length > 0) { %> <% pantry.forEach(function(car) { %>
    <div class="item-box">
      <h2>
        <a href="/users/<%= user._id %>/cars/<%= car._id %>"><%= car.name %></a>
      </h2>
      <div class="item-box-discription">
        <p><%= car.discription %></p>
      </div>
    </div>
    <% }) %> <% } else { %>
    <p>There are no items in this pantry.</p>

    <% } %>
  </div>
  <!--  -->
  <!--  -->

  <button><a href="/users/<%= user._id %>/cars/new">Add a New Item</a></button>
</div>

<%- include('../partials/_footer.ejs') %> <%- include('../partials/end.ejs') %>
