<%- include('../partials/head.ejs') %> <%- include('../partials/_navbar.ejs') %>
<div class="container">
  <div class="container-insid">
  <h1><%= car.name %></h1>

  <h1>car model <%= car.model %></h1>
  <h1>car company<%= car.car_company %></h1>
  <h1>car manufacturer<%= car.car_manufacturer %></h1>
  <h1>top speed<%= car.top_speed %></h1>
  <h1>car discription <%= car.discription %></h1>

  <img src="<%= car.image %>" alt="<%= car.name %>" />

  
  <a href="/users/<%= user._id %>/cars/<%= car._id %>/edit"
    ><button type="submit">Edit this item</button></a
  >

  <form
    action="/users/<%= user._id %>/cars/<%= car._id %>?_method=DELETE"
    method="post"
  >
    <button type="submit">Delete this item</button>
  </form>
</div>
</div>
<%- include('../partials/_footer.ejs') %> <%- include('../partials/end.ejs') %>
